@charset "utf-8";
@import url('reset.css');
@import url('../font/pretendard/pretendard.css');
@import url('../font/tj/stylesheet.css');


#wrap {
    max-width: 1024px;
    width: calc(100% - 40px);
    margin: 0 auto;
    background-color: #ffffff;

}

body {
    line-height: 1.5;
    font-size: 14px;
    padding-bottom: 100px;
    font-family: 'Pretendard';
}

button {
    padding: 0;
}


.header .inner {
    height: 123px;
    padding: 60px 0 30px;
    position: relative;

}

.header .title {
    position: absolute;
    top: 67%;
    left: 50%;
    transform: translate(-50%, -67%);
    font-family: 'TJ Joy of singing B TTF';
    font-size: 22px;
    font-weight: bold;
}

.header .inner .header_nav {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.header .inner .header_nav li a {
    display: block;
    width: 24px;
    height: 24px;
}



.section {}



.section .inner .sub_menu {
    display: flex;
    overflow-x: auto;
    gap: 8px;
    margin-bottom: 30px;
}

.section .inner .sub_menu::-webkit-scrollbar {
    display: none;
}

.section .inner .sub_menu li .menu_btn {
    display: block;
    padding: 0 8px 8px;
    color: #D9D9D9;
    white-space: nowrap;
    font-size: 16px;
    font-weight: 700;
}

.section .inner .sub_menu li .menu_btn.active {
    content: '';
    color: #FF3535;
    border-bottom: 2px solid;
    
}



.section .inner .align {
    display: flex;
    justify-content: space-between;
    white-space: nowrap;
    margin-bottom: 30px;
}

.section .inner .align .tool_box {
    display: flex;
    gap: 16px;

}

.section .inner .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 16px;


}


.section .inner .list .item {
    width: 47.7%;
}

.section .inner .list .item a {
    display: block;
    width: 100%;
}

.section .inner .list .item a .image {
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.section .inner .list .item a .image>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.section .inner .list .item a .image .keep {
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    bottom: 10%;
    right: 10%;
    transform: translate(-10%, -10%);


}

.section .inner .list .item a .image .keep img {
    width: 100%;
}

.section .inner .list .item a .text {
    display: flex;
    flex-direction: column;
}

.section .inner .list .item a .text .price {
    font-size: 16px;
}

.section .inner .list .item a .text .price span {
    color: #FF3535;
}

.section .inner .list .item a .text .flag {
    display: flex;
    margin-top: 4px;
    gap: 4px;

}

.section .inner .list .item a .text .flag span {
    display: block;
    display: flex;
    align-items: center;
    height: 16px;
    padding: 0 6px;
    font-size: 11px;
    background-color: #ffd557;
    border-radius: 4px;
}

.section .inner .list .item a .text .flag .special {
    background-color: #ffb8c4;

}

.section .inner .list .popup {
    max-width: 500px;
    width: calc(100% - 40px);
    position: fixed;
    bottom: 100px;

}

.section .inner .list .popup .layer_popup {
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FF3535;
    color: #ffffff;
    border-radius: 10px;
    padding: 0 32px;
    font-weight: 400;

}

.section .inner .list .popup .layer_popup img {
    width: 16px;
    height: 16px;

}

.section .inner .list .layer_popup .text {
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 18px;

}

.section .inner .list .layer_popup a {
    display: flex;
    align-items: center;
    font-size: 14px;
}







.bottom_nav {
    background-color: #ffb9b9;
    max-width: 1024px;
    width: calc(100% - 40px);
    position: fixed;
    bottom: 0;
}

.bottom_nav .inner {
    height: 100px;
    padding: 10px 0 32px;

}

.bottom_nav .inner .nav_btn {
    display: flex;
    justify-content: space-between;
}

.bottom_nav .inner .nav_btn li a {
    display: block;
    width: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #888888;


}

.bottom_nav .inner .nav_btn li a .image {
    width: 36px;
    height: 36px;
    margin-bottom: 4px;
}

.bottom_nav .inner .nav_btn li a .image img {
    width: 100%;
}


.bottom_nav .inner .nav_btn li a span {
    font-size: 12px;
}